body {
    background: #ffffff;
    color: #444;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 80px auto;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(28, 6, 49, 0.1);
    background: white;
}

.error {
    color: #ff3f80;
    font-size: 14px;
}

button {
    text-decoration: none;
    background: #5ae4ce;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    transition-duration: 200ms;
    cursor: pointer;
}

button:active {
    background: white;
    color: #444444;
    box-shadow:0 0 0 2px #5ae4ce inset;
}


/* custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5ae4ce;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}